<Page xmlns="http://schemas.nativescript.org/tns.xsd" navigatingTo="onNavigatingTo">
    <Page.actionBar>
      <ActionBar title="nativescript-paypal Demo">
      </ActionBar>
    </Page.actionBar>
  
    <StackLayout>
      <Button text="Start checkout"
              (tap)="startPayPalCheckout()"> </Button>
    </StackLayout>
  </Page>